/* Main Input */
.main-input {
    border-radius: 10px 10px 0 0;
    border: 1px solid #EEEE;
    border-bottom: 2px dashed #9999;
}

.group        { 
    position:relative; 
    margin-bottom: 25px; 
  }
  
  input {
    font-size:18px;
    display:block;
    border:none;
    border-bottom:1px solid #757575;
    height: 44px;
    padding: 20px 0 0 5px;
    width: 100%;
  }

  input:focus { 
      outline: none; 
    }

  label {
    color:#CCC; 
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:8px;
    transition:0.2s ease all; 
  }
  
  /* active state */
  input:focus ~ label, input:valid ~ label     {
    top:-10px;
    font-size:14px;
    color:#5264AE;
  }

  .bar { 
      position: relative; 
      display: block; 
    }

.bar:before, .bar:after   {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}