body {
  font-family: 'Josefin Sans', sans-serif;
}

div .bordered {
    background: #fff;
    line-height: 3;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

div .centered {
    text-align: center;
}


